<footer class="bg-indigo-600 text-white mt-16">
  <div class="max-w-6xl mx-auto px-4 py-6">
    <div class="flex justify-between items-center flex-wrap">
      <div
        class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white to-pink-200"
      >
        Pictorial
      </div>
      <div class="flex space-x-6 mt-4 lg:mt-0">
        <a href="/" class="text-base text-gray-300 hover:text-gray-100">Home</a>
        <a href="/generate" class="text-base text-gray-300 hover:text-gray-100"
          >Generate</a
        >
        <a href="/library" class="text-base text-gray-300 hover:text-gray-100"
          >Library</a
        >
      </div>
    </div>
  </div>
</footer>
