<header class="fixed w-screen  top-0 left-0 flex items-center h-[60px] bg-primary-500 px-8 text-white">

    <div class="w-1/3 flex justify-start">
        <a class="link" href="/">Pictorial</a>
    </div>

    <div class="w-1/3">

        <ul class="flex gap-4 justify-center items-center">
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/generate">Generate</a></li>
            <li><a class="link" href="/library">Library</a></li>
        </ul>

    </div>
    <div class="w-1/3 flex gap-4 justify-end">
        {% if user %}
        <div>
            {{user.email}}
        </div>
        <a class="link" href="/logout">Logout</a>
        {% else %}
        <a class="link" href="/login">Login</a>
        {% endif %}




    </div>

</header>