{% extends "base.html" %}

<!-- login form -->
{% block main %}
<form method="post" action="/signup" class="flex flex-col max-w-lg mx-auto gap-6 shadow-xl p-8 rounded-xl mt-40">
    <h1 class="h1 p-4 w-max mx-auto">Welcome to Pictorial</h1>

    <div class="flex flex-col gap-2">
        <label class="block text-gray-700 text-sm font-bold" for="name">
            Email
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="email" placeholder="email" name="email">

    </div>

    <div class="flex flex-col gap-2">
        <label class="block text-gray-700 text-sm font-bold" for="password">
            Password
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password" placeholder="password" name="password">
    </div>

    <a class="link" href="/login">Login</a>

    <button class="btn btn-primary">
        Sign Up
    </button>


</form>


{% endblock %}